.header-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  font-weight: bold;
}

ul.nav-container {
  margin-top: 0;
  padding: 0;
}

.nav-container a {
  white-space: nowrap;
}

.logo {
  width: 32px;
  height: 32px;
  background-color: #50459b;
}

.logo:hover {
  background-color: coral;
}

.title {
  line-height: 1;
}

.posts-container {
  list-style: none;
}

ul.posts-container {
  padding: 0;
}

.posts-container a {
  text-decoration: underline;
}

.posts-container a:hover {
  text-decoration: none;
}

.post-description {
  margin-left: 32px;  
}

body {
  background-color: #F2F0EA;
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  border-bottom: 4px solid #626262;
  margin-bottom: 1rem;
}

footer {
  border-top: 2px solid #626262;
  margin-top: 1rem;
}

a {
  color: #0000aa;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #898989;
}

thead, tfoot {
  /* background-color: rgb(228, 240, 245); */
  background-color: #adadad;
}

th, td {
  border: 1px solid #898989;
  padding: 4px 6px;
}

th {
  vertical-align: middle;
}

blockquote {
  border-left: 4px solid rgb(140, 140, 140);
  padding-left: 10px;
  margin-left: 32px;
  font-style: italic;
}

img {
  display: block;
}

time {
  padding-right: 0;
  padding-left: auto;
}

pre code {
  display: block;
  margin-left: 32px;
  font-size: 120%;
}
